.pictogram-container.section {
  padding: 0;
}

.pictogram-container.section .pictogram-wrapper {
  max-width: unset;
  margin-left: 0;
  margin-right: 0;
}

.pictogram > div > div {
  padding: var(--spacing-horizontal);
}

/* icon */
.pictogram .pictogram-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--spacing-60);
  padding-bottom: var(--spacing-60);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 700%;
}

/* body */
.pictogram .pictogram-body {
  background-color: var(--secondary-color);
  color: var(--background-color);
  font-size: var(--heading-font-size-s);
  line-height: 110%;
}

.pictogram .pictogram-body h2 {
  color: inherit;
}

@media (min-width: 600px) {
  .pictogram > div {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 300px;
  }
}

/* invert variant */
.pictogram.invert .pictogram-icon {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.pictogram.invert .pictogram-body {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.pictogram.invert .pictogram-body .button.primary {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

/* overlay variant */
.pictogram.overlay .pictogram-icon {
  background-color: var(--overlay-accent-color);
  color: var(--overlay-background-color);
}

.pictogram.overlay .pictogram-body {
  background-color: var(--overlay-background-color);
  color: var(--overlay-text-color);
}

.pictogram.overlay .pictogram-body a:any-link {
  color: var(--overlay-accent-color);
}

.pictogram.overlay .pictogram-body h2 {
  color: inherit;
}

.pictogram.overlay .pictogram-body .button.primary {
  background-color: var(--overlay-text-color);
  color: var(--overlay-background-color);
}
