.columns > div {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-horizontal);
  padding: var(--spacing-40) 0;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  display: block;
  position: relative;
}

.columns > div .columns-icon-col span.icon,
.columns > div .columns-icon-col span.icon svg {
  height: 80px;
  width: 80px;
}

.columns > div.columns-cta {
  align-items: center;
  font-size: var(--heading-font-size-xs);
  line-height: 110%;
}

.columns > div .columns-cta-col {
  flex: 0 1 max-content;
}

.columns > div .columns-cta-col .button {
  line-height: 130%;
}

.columns > div > div > :first-child {
  margin-top: 0;
}

.columns > div > div > :last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .columns > div {
    display: flex;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns .columns-img-col picture {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .columns .columns-img-col img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .columns.columns-4-cols > div {
    flex-flow: row wrap;
  }
}

@media (min-width: 1200px) {
  .columns {
    text-align: left;
  }

  .columns > div {
    flex-flow: row nowrap;
  }

  .columns > div > div {
    flex: 1;
  }
}

/* stylelint-disable no-descending-specificity */

/* two col variant */
.columns.two-col > div:not(:last-of-type) {
  border-bottom: 1px solid;
}

@media (min-width: 600px) {
  .columns.two-col {
    display: flex;
    gap: var(--spacing-horizontal);
  }

  .columns.two-col > div {
    padding: 0;
    padding-right: var(--spacing-horizontal)
  }

  .columns.two-col > div:not(:last-of-type) {
    border-bottom: 0;
    border-right: 1px solid;
  }
}

/* icon variant */
.columns.icon > div {
  flex-direction: row;
}

.columns.icon > div > .columns-icon-col {
  flex: 0 0 120px;
}

/* inset variant */
.columns.inset > div > .columns-img-col img {
  border-radius: 16px;
}

/* border variant */
.columns.border > div {
  border-top: var(--line-10) solid;
}

/* overlay section */
.overlay .columns * {
  color: var(--overlay-text-color);
}

.overlay .columns svg {
  fill: var(--overlay-accent-color);
}
