.accordion details {
  border-top: var(--line-10) solid var(--secondary-color);
  padding: var(--spacing-20) 0 var(--spacing-50);
}

.accordion details summary {
  list-style: none;
  position: relative;
  padding-right: calc(var(--spacing-30) + 20px);
  font-size: var(--heading-font-size-xs);
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;
}

.accordion details summary::before,
.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: currentcolor;
}

.accordion details summary::before {
  right: 9px;
  width: var(--line-20);
  height: 20px;
  transition: transform .2s;
}

.accordion details[open] summary::before {
  transform: translateY(-50%) rotate(90deg);
}

.accordion details summary::after {
  right: 0;
  width: 20px;
  height: var(--line-20);
}

.accordion details .accordion-item-content {
  cursor: initial;
  margin-top: var(--spacing-20);
}
