.blockquote {
  position: relative;
  padding: var(--spacing-40) var(--spacing-horizontal);
  border-radius: 16px;
  background-color: var(--highlight-background-color);
  color: var(--primary-color);
}

.blockquote figure,
.blockquote blockquote {
  margin: 0;
  padding: 0;
}

.blockquote figure {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-horizontal);
}

.blockquote blockquote {
  font-size: var(--heading-font-size-xs);
  font-weight: 700;
  line-height: 110%;
}

.blockquote blockquote ul,
.blockquote blockquote ol {
  font-size: var(--body-font-size-m);
  font-weight: initial;
}

.blockquote blockquote img {
  display: block;
  object-fit: cover;
  border-radius: 16px;
}

.blockquote blockquote span.icon.icon-opening-quotation,
.blockquote blockquote span.icon.icon-opening-quotation svg {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--secondary-color);
}

.blockquote blockquote span.icon {
  margin-bottom: var(--spacing-30);
}

.blockquote figcaption {
  font-size: var(--body-font-size-s);
}

.blockquote figcaption p {
  margin: 0;
}

.blockquote figcaption strong {
  font-size: var(--body-font-size-m);
}

.blockquote figcaption > div > :first-child {
  margin-top: 0;
}

.blockquote figcaption > div > :last-child {
  margin-bottom: 0;
}

.blockquote figcaption .button {
  width: 100%;
}

@media (min-width: 600px) {
  .blockquote blockquote picture {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .blockquote blockquote img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .blockquote blockquote > div {
    display: flex;
    justify-content: center;
    gap: var(--spacing-horizontal);
  }

  .blockquote blockquote > div > div {
    flex: 1 1 50%;
  }
}

@media (min-width: 1200px) {
  .blockquote blockquote > div > :first-child {
    flex: 1 0 66%;
  }
}

/* image variant */
.blockquote.blockquote-img figcaption {
  display: flex;
  align-items: flex-end;
  min-height: 80px;
  padding-right: calc(80px + var(--spacing-horizontal));
}

.blockquote.blockquote-img img {
  position: absolute;
  bottom: var(--spacing-40);
  right: var(--spacing-horizontal);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 600px) {
  .blockquote.blockquote-img {
    min-height: 120px;
  }

  .blockquote.blockquote-img figure {
    padding-right: 120px;
  }

  .blockquote.blockquote-img figcaption {
    min-height: unset;
    padding-right: var(--spacing-horizontal);
  }
}

/* cta variant */
.blockquote.blockquote-cta blockquote {
  display: flex;
  gap: var(--spacing-horizontal);
}

@media (min-width: 600px) {
  .blockquote.blockquote-cta figure {
    flex-direction: row;
    align-items: center;
  }

  .blockquote.blockquote.blockquote-cta figcaption {
    flex: 0 1 max-content;
  }
}

/* center variant */
.blockquote.center {
  text-align: center;
}

.blockquote.center .button-container.button-container-multi {
  justify-content: center;
}

/* short variant */
.blockquote.short {
  max-width: calc(var(--content-width) * .66)
}

/* overlay variant */
.blockquote.overlay {
  background-color: var(--overlay-background-color);
  color: var(--overlay-text-color);
}

.blockquote.overlay * {
  color: inherit;
}

.blockquote.overlay .button {
  border-color: var(--overlay-text-color);
  color: var(--overlay-text-color);
}
